<mat-drawer-container hasBackdrop="true">
  <mat-drawer #drawer mode="over">
    <mat-accordion>
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Options </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Options Form -->
        <app-rule-form></app-rule-form>

      </mat-expansion-panel>
      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Actions </mat-panel-title>
          <mat-panel-description> </mat-panel-description>
        </mat-expansion-panel-header>
        <!-- Actions Form -->
        <app-rule-form-actions></app-rule-form-actions>

      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
    <button mat-raised-button class="mt-3" (click)="drawer.toggle()">
      Cancel
    </button>
    <button mat-raised-button class="mt-3" (click)="drawer.toggle()">
      Save
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-raised-button class="mb-3" (click)="drawer.toggle()">
      New Rule
    </button>

    <app-rules-list></app-rules-list>
    <app-rules-list></app-rules-list>

  </mat-drawer-content>
</mat-drawer-container>
