
/* .wrap-container {
  width: 600px;
  height: 800px;
  margin: 12px;
  border: 1px solid #555;
} */
.full-width{
  width: 100%;
}
mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
