<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ ruleName }} </mat-panel-title>
      <mat-panel-description>
        {{ rulePriorityStatus }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="d-flex justify-content-between align-items-center w-100">
      <mat-label>Analyzer: <b class="text-success">DONE</b></mat-label>
      <button mat-button color="primary">Edit</button>
    </div>
    <!-- Options Form -->
    <app-rule-form></app-rule-form>

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Actions </mat-panel-title>
        </mat-expansion-panel-header>
        <!-- Action Form -->
        <app-rule-form-actions></app-rule-form-actions>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
<mat-divider class="m-3"></mat-divider>
