<form>
  <mat-checkbox>Mark As Importent</mat-checkbox>

  <mat-form-field appearance="fill">
    <mat-label>Send To Folder</mat-label>
    <mat-select disableRipple>
      <mat-option>None</mat-option>
      <mat-option value="1">Folder 1</mat-option>
      <mat-option value="2">Folder 2</mat-option>
      <mat-option value="3">Folder 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Send To Office</mat-label>
    <mat-select disableRipple>
      <mat-option>None</mat-option>
      <mat-option value="1">Ofice 1</mat-option>
      <mat-option value="2">Ofice 2</mat-option>
      <mat-option value="3">Ofice 3</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Auto Answer</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
