/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

mat-form-field{
  display: block !important;
}

mat-drawer{
  width: 75%;
}

app-rules-list{
  width: 100%;
}

app-rule-menu{
  width: inherit;
  height: 700px;
}

mat-drawer-container{
  height: 100%;
  width: 100%;
}

.mat-expansion-indicator{
  display: none;
}
