<form>

  <mat-form-field >
    <mat-label>Rule Name</mat-label>
    <input matInput placeholder="Rule Name" value="" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Set Priority</mat-label>
    <mat-select>
      <mat-option value="1">heigh</mat-option>
      <mat-option value="2">medium</mat-option>
      <mat-option value="3">low</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Provider Folders</mat-label>
    <mat-select multiple>
      <mat-option *ngFor="let providerFolder of providerFoldersList" [value]="providerFolder">{{
        providerFolder
      }}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Theme Contains</mat-label>
    <input
      matInput
      #themeContent
      maxlength="50"
      placeholder="Theme of Letter"
      value=""
    />
    <mat-hint align="end">{{ themeContent.value.length }} / 50</mat-hint>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Text Contains</mat-label>
    <input
      matInput
      #textContent
      maxlength="50"
      placeholder="Text in Letter"
      value=""
    />
    <mat-hint align="end">{{ textContent.value.length }} / 50</mat-hint>
  </mat-form-field>

  <mat-form-field >
    <mat-label>Sender Contains</mat-label>
    <input
      matInput
      #senderContent
      maxlength="50"
      placeholder="Sender of Letter"
      value=""
    />
    <mat-hint align="end">{{ senderContent.value.length }} / 50</mat-hint>
  </mat-form-field>
</form>
